<h1>Edit word</h1>
<%= form_for(@word) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
