<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @word.word %>
      </h1>
      <%= render 'shared/wordnik' %>
      <table class="definitions" summary="Word definitions">
        <th>Definitions</th>
        <% unless @word.definitions.empty? %>
          <%= render @definitions %>
        <% end %>
      </table>
      <%= render 'shared/definition_form'%>
      <table class="examples" summary="Word examples">
        <th>Examples</th>
        <% unless @word.examples.empty? %>
          <%= render @examples %>
        <% end %>
      </table>
      <%= render 'shared/example_form'%>
    </td>
    <td class="sidebar round">
      <strong>Word</strong> <%= @word.word %><br />
      <strong>URL</strong>  <%= link_to word_path(@word), @word %><br />
      <strong>Definitions</strong> <%= @word.definitions.count %><br />
      <strong>Examples</strong> <%= @word.examples.count %>
    </td>
  </tr>
</table>
